DB_NAME = "platzi-store" 
DB_USER = "mongo" 
DB_PASS = "secret" 
DB_HOST = "mongodb://localhost" 
DB_PORT = "27017" 
DB_CHARSET = "utf8" 
DB_COLLATION = "utf8_unicode_ci" 
DB_PREFIX = "" 
DB_STRICT = false 
DB_ENGINE = null
PORT = 3000
API_KEY ="SECRET1"
JWT_SECRET="texo_secreto"
MONGO_BBDD="platzi-store" 
MONGO_CONF=mongodb
MONGO_HOST=localhost
MONGO_PORT=27017
MONGO_PASS=
MONGO_USER=